
body {
  font-family: sans-serif;
  text-align: center;
  background-color:  #F5E9DC;
  font-size: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #2E4A29; /* Verde escuro */
}

h1 {
  color: #2E4A29;
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 80px);
  margin: 20px auto;
  width: max-content;
  border:1px solid #5A3E36;
  border-top: 1px solid #5A3E36;
}
.cell {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 1px solid #5A3E36;
  font-size: 40px;
  background-color: #D4E9D2;
  box-sizing: border-box; 
  
}
.door-top-and-bottom {
  border-top: 7px solid red !important;
  border-bottom: 7px solid red !important;
}

.door-left {
  border-left: 7px solid red !important;
}

.door-right {
  border-right: 7px solid red !important;
}

.robot {
  background-color: #C97B30; /* Laranja amarronzado */
}
.end {
  background-color: green;
}
.mod-star::after {
  content: '⭐';
}
.mod-circle::after {
  content: '🟢';
} 
.mod-triangle::after {
  content: '🔺';
}
.mod-lightning::after {
  content: '⚡️';
}
.legend {
  background-color: #ecd6bf;
  color: #2E4A29;
  padding: 10px 20px;
  border: 2px solid #5A3E36;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
}
/* .controls button {
  margin: 5px;
  font-size: 20px;
} */
